/* restaurant detail view */
#maincontent {
  display: flex;
}

.inside #map-container {
  width: 50%;
  height: 500px;
}

#restaurant-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* justify-content: center; */
}
