button.fav,
#restaurants-list li button.fav {
  background: none;
  border: none;
  color: grey;
  padding: 1%;
  margin: 0;
  font-size: 3em;

  &[aria-pressed='true'] {
    color: #b913d4;
  }

  &:hover,
  &:focus {
    border: orange;
  }
}

#fav-button-container {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
